{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<h1>Главная</h1>

<li>Lorem ipsum dolor sit amet.</li>
<li>Id neque omnis qui sequi?</li>
<li>Adipisci beatae optio repellendus. Id!</li>
<li>Adipisci distinctio magnam nisi vero?</li>
<li>Consequatur nobis rem vel voluptatum!</li>
<li>Eveniet fugit molestiae qui tempora?</li>
<li>Animi atque esse quo saepe.</li>
<li>Architecto impedit minus quos reiciendis?</li>
<li>Blanditiis itaque nostrum sed tempore?</li>
<li>Facere libero odio officia perspiciatis.</li>
<li>At eius eum perspiciatis sed?</li>
<li>Cupiditate maxime minima necessitatibus repellendus!</li>
<li>Commodi eveniet porro velit veniam?</li>
<li>Aut ducimus placeat porro vel?</li>
<li>Aliquid expedita laudantium non optio.</li>
<li>Cum magni nemo quidem velit.</li>
<li>Id itaque quod reiciendis repellendus.</li>
<li>Cum distinctio ipsa porro ratione?</li>
<li>Aperiam laboriosam nemo possimus tenetur.</li>
<li>Ad culpa distinctio eius sunt.</li>
<li>Accusantium ducimus explicabo numquam possimus.</li>
<li>Aspernatur assumenda fuga officia repellat.</li>
<li>Asperiores facere nisi qui ullam.</li>
<li>Esse praesentium ullam unde velit.</li>
<li>Commodi corporis modi nulla sunt?</li>
<li>Consequuntur eaque excepturi mollitia quis!</li>
<li>Cum numquam quis sequi voluptatem.</li>
<li>Magnam quae quam quas veniam.</li>
<li>Fugit mollitia natus sed voluptates!</li>
<li>Eaque nobis recusandae velit veniam!</li>
<li>Adipisci cumque eum magni quam.</li>
<li>Aperiam at cupiditate delectus voluptates!</li>
<li>Debitis eius nesciunt sint voluptate.</li>
<li>Animi exercitationem numquam quas quis.</li>
<li>Aliquam commodi est omnis tempore.</li>
<li>Debitis eos excepturi rerum temporibus.</li>
<li>Exercitationem facilis hic laborum minima?</li>
<li>Alias at odio possimus sequi?</li>
<li>Inventore omnis quas sapiente velit.</li>
<li>Adipisci dolorum eos possimus quisquam.</li>
<li>Molestias neque officia repellendus tenetur.</li>
<li>Asperiores et ex illum impedit!</li>
<li>Commodi facilis impedit maxime tenetur.</li>
<li>Asperiores eum mollitia non repellat.</li>
<li>Asperiores eligendi id quas sit?</li>
<li>Beatae consequatur cum maiores optio!</li>
<li>Dolore id tempore voluptas voluptatibus.</li>
<li>Consequatur iusto rem temporibus vel.</li>
<li>Culpa ducimus enim quidem quod!</li>
<li>Illo laborum neque nesciunt unde.</li>
<li>Earum laborum molestias officia rem.</li>
<li>Asperiores aspernatur quo sapiente tempora.</li>
<li>Adipisci dicta fuga laborum sapiente?</li>
<li>Blanditiis eaque eligendi saepe voluptates?</li>
<li>Ex excepturi iure nesciunt recusandae.</li>
<li>Doloremque ipsam placeat ratione tempora?</li>
<li>Accusamus ipsam porro ratione suscipit.</li>
<li>Aliquid dolor sequi temporibus vitae!</li>
<li>Consequatur iusto nostrum sapiente sit.</li>
<li>Eligendi illo necessitatibus ratione similique.</li>
<li>Accusantium excepturi hic vel veritatis?</li>
<li>Aliquam itaque minima similique voluptatem?</li>
<li>Ipsum iste numquam repudiandae voluptatem?</li>
<li>Dolores ducimus eligendi quidem sint.</li>
<li>Cumque debitis eaque ipsa placeat?</li>
<li>Ab ipsa minima mollitia similique.</li>
<li>Accusamus fugiat placeat recusandae reiciendis?</li>
<li>Cumque eius eum magni ratione?</li>
<li>Accusantium consectetur consequatur laudantium porro.</li>
<li>Minima officiis provident sequi ullam!</li>

{% endblock %}